@model GuestDetails;

@{
    ViewData["Title"] = "Guest Form";
}

<head>
    <script src="~/lib/jquery/dist/jquery-3.4.1.min (1).js"></script>
</head>
<h2>Create</h2>
<h4>Employees</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegisterGuestDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GuestName" class="control-label"></label>
                <input asp-for="GuestName" class="form-control" />
                <span asp-validation-for="GuestName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuestAddress" class="control-label"></label>
                <input asp-for="GuestAddress" class="form-control" />
                <span asp-validation-for="GuestAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckinDate" class="control-label"></label>
                <input asp-for="CheckinDate" class="form-control" />
                <span asp-validation-for="CheckinDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckoutDate" class="control-label"></label>
                <input asp-for="CheckoutDate" class="form-control" />
                <span asp-validation-for="CheckoutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableRooms" class="control-label"></label>
                <input asp-for="AvailableRooms" class="form-control" />
                <span asp-validation-for="AvailableRooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="btnSubmit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
    <br />
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#btnSubmit').click(function () {
            alert("CheckedIn Successfully");
        })
    })
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
